<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">NLT's Canvas</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{log this}}
    <input id="search-text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <i id="search-button" class="fas fa-search nav-items" >Search</i>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/postimage">Upload<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/registration">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/imagepost">Images <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                {{#if logged}}
                    <a class="nav-link" id="logout-button">Logout <span class="sr-only">(current)</span></a>
                {{else}}
                    <a class="nav-link" href="/login" id="login">Login <span class="sr-only">(current)</span></a>
                {{/if}}

            </li>
        </ul>
    </div>
</nav>
