
<div id="main-content" class="card-deck">
</div>

<div class="signup-form" id="">
    <form action="/users/register" enctype="application/x-www-form-urlencoded" method="POST">
        <h2>Register</h2>

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required=>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <label for="myCheck">Accept I am 13+ years:</label>
            <input type="checkbox" id="myCheck" onclick="myFunction()"required>
        </div>
        <div class="form-group">
            <label for="myCheck">Accept <a href="">TOS and Privacy Rules</a>:</label>
            <input type="checkbox" id="myCheck" onclick="myFunction()"required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
        </div>
    </form>
</div>

